$default-font-size: 16px;

.main-main
{
    .main
    {
        .news-items
        {
            .news-item
            {
                .news-header
                {
                    h5
                    {
                        font-family: 'Myriad Pro', 'Sans-Serif';
                        font-style: normal;
                        font-weight: bold;
                        color: #000000;
                        font-size: $default-font-size + 4;
                    }

                    p
                    {
                        font-family: 'Myriad Pro', 'Sans-Serif';
                        font-style: normal;
                        font-weight: bold;
                        color: #000000;
                        font-size: $default-font-size - 2;  
                        
                        &::before
                        {
                            content: "";
                            width: 17px;
                            height: 17px;
                        }
                    }
                }
            }
        }
    }
}
