<header class="main-header row">
    <div class="logotype row">
        <img src="%=static=%/img/general/logotype.png" alt="">
        <div class="column">
            <p>PR-SAMP</p>
            <p>Рейтинг рекламных площадок SA:MP</p>
        </div>
    </div>
    <div class="banner">
        <img src="%=static=%/img/general/banner.png" alt="" width = "460px" height = "80px">
    </div>
</header>

<section class="nav">
    <ul class="row">
        <li class = "column">Главная</li>
        <li class = "column">Премиум площадки</li>
        <li class = "column">Информация</li>
        <li class = "column">Связь с нами</li> 
        <li class = "column">Ваш аккаунт</li>
        <li class = "column">Подобрать</li>
        <li class="column search">
            <form action="/">
                <input name="search" type="text" placeholder="Площадка">
                <input type="submit" value="Поиск">
            </form>
        </li>
    </ul>
</section>


