<main class="main-main row">
    <section class="main column">
        <div class="user column">
            <a href="#" class="edit-button row">Редактировать</a>
            <div class="stats row">
                <div class="left-column column">
                    <div class="avatar">
                        <div class="avatar-image"></div>
                    </div>
                    <div class="column">
                        <a href="#">+ Отправить сообщение</a>
                        <a href="#">+ Сообщить о нарушении</a>
                        <a href="#">+ Заблокировать</a> 
                    </div>   
                </div>
                <div class="right-column column">
                    <p class="name">Nicola</p>
                    <div class="stat row">
                        <p>Дата регистрации:</p>
                        <p>28 мая 2018</p>
                    </div>
                    <div class="stat row">
                            <p>Сообщений:</p>
                            <p>200</p>
                    </div>
                    <div class="stat row">
                            <p>Собственный проект:</p>
                            <p>SAMP-RP</p>
                    </div>
                    <div class="stat row">
                            <p>Ссылка:</p>
                            <p>samp-rp.ru</p>
                    </div>
                    <div class="stat row">
                            <p>Статус:</p>
                            <p>Пользователь</p>
                    </div>
                    <div class="stat row">
                            <p>Вконтакте:</p>
                            <p>vk.com/myvk</p>
                    </div>
                    <div class="stat row">
                            <p>Skype:</p>
                            <p>swifts422</p>
                    </div>
                </div>
            </div>        
        </div>

        <div class="messages">
            <div class="message-header row">
                <div class="h2">Сообщения</div>
                <div class="change-message row">
                    <p class = "row">Отзывы</p>
                    <p class = "row">Сообщения</p>
                </div>
            </div>
            <div class="message-all column">
                <div class="message">
                    <div class="name">Mario</div>
                    <p>Спасибо за отзыв. “Неплохой канал. Цены адекватные, проблем при работе с 
                        данным летсплейщикомне было. Так-же смонтировал видео на ура,подсказал 
                        какие лучше показать преимущества. Всем советую!”</p>
                </div>
                <div class="message">
                        <div class="name">Mario</div>
                        <p>Спасибо за отзыв. “Неплохой канал. Цены адекватные, проблем при работе с 
                            данным летсплейщикомне было. Так-же смонтировал видео на ура,подсказал 
                            какие лучше показать преимущества. Всем советую!”</p>
                </div>
                <div class="message">
                        <div class="name">Mario</div>
                        <p>Спасибо за отзыв. “Неплохой канал. Цены адекватные, проблем при работе с 
                            данным летсплейщикомне было. Так-же смонтировал видео на ура,подсказал 
                            какие лучше показать преимущества. Всем советую!”</p>
                </div>
                <div class="message">
                        <div class="name">Mario</div>
                        <p>Спасибо за отзыв. “Неплохой канал. Цены адекватные, проблем при работе с 
                            данным летсплейщикомне было. Так-же смонтировал видео на ура,подсказал 
                            какие лучше показать преимущества. Всем советую!”</p>
                </div>
            </div>
        </div>

        <div class="pagination row">
            <p class="prev"><<</p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p class="next">>></p>
        </div>
    </section>

    <aside class="side column">

        <section class="vk-widget row">
            <script type="text/javascript" src="https://vk.com/js/api/openapi.js?154"></script>

            <!-- VK Widget -->
            <div id="vk_groups"></div>
            <script type="text/javascript">
            VK.Widgets.Group("vk_groups", {mode: 3, width: "250", height: "255"}, 122944956);
            </script>
        </section>

        <section class="parthers column">
            <h2>Наши партнеры</h2>
            <hr>
            <div class="banner column">
                <img src="%=static=%/img/general/parthers.png" alt="" width="235px" height="60px">
                <img src="%=static=%/img/general/parthers.png" alt="" width="235px" height="60px">
                <img src="%=static=%/img/general/parthers.png" alt="" width="235px" height="60px">
                <img src="%=static=%/img/general/parthers.png" alt="" width="235px" height="60px">
            </div>
        </section>

        <section class="stats column">
            <h2>Статистика</h2>
            <hr>
            <div class="stats-all column">
                <div class="stat-elem row">
                    <div class="name row">
                        <img src="%=static=%/img/general/youtube-icon.png" alt="" width="30px" height="30px">
                        <p>Всего каналов</p>
                    </div>
                    <p>1000</p>
                </div>
                <div class="stat-elem row">
                        <div class="name row">
                            <img src="%=static=%/img/general/vk-icon.png" alt="" width="30px" height="30px">
                            <p>Всего групп</p>
                        </div>
                        <p>1000</p>
                </div>
                <div class="stat-elem row">
                        <div class="name row">
                            <img src="%=static=%/img/general/monitoring-icon.png" alt="" width="30px" height="30px">
                            <p>Всего площадок</p>
                        </div>
                        <p>1000</p>
                </div>
            </div>
        </section>

    </aside>
</main>    
