$default-font-size: 16px;

.main-main
{
    .main
    {
        /*height: 850px;*/

        .pagination
        {
            margin-top: 0px;
            margin-bottom: 10px;
        }

        .user
        {
            width: 95%;
            margin-bottom: 25px;

            .edit-button
            {
                width: 135px;
                height: 30px;
                background-color: #00a8ff;
                border: 0px solid white;
                border-radius: 10px;
                font-family: 'Exo 2', 'Sans-Serif';
                font-style: normal;
                font-weight: bold;
                color: #ffffff; 
                font-size: $default-font-size - 2;
                text-align: center;
                text-decoration: none;
                justify-content: center;
                align-items: center;
                align-self: flex-end;
                margin-top: 20px;
                margin-bottom: 10px;
                transition: 0.2s background-color;

                &:hover
                {
                    background-color: #5CB85C;
                }
            }

            .stats
            {
                width: 95%;

                .left-column
                {
                    justify-content: center;
                    align-items: center;
                    border-right: 2px solid #323232;
                    width: 30%;
                    min-width: 250px;
                    /*padding: 0px 25px;*/

                    .avatar
                    {
                        width: 122px;
                        height: 122px;
                        background-color: #7e827b;
                        border: 0px solid #ffffff;
                        border-radius: 50%;
                        margin-bottom: 20px;

                        .avatar-image
                        {
                            width: 122px;
                            height: 122px;
                            border: 0px solid #ffffff;
                            border-radius: 50%;
                            background-image: url(/static/img/general/avatar.png);
                            background-position: 50% 50%;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                    }

                    .column
                    {
                        a
                        {
                            font-family: 'Exo 2', 'Sans-Serif';
                            font-style: normal;
                            font-weight: bold;
                            color: #000000; 
                            font-size: $default-font-size - 2;
                            text-decoration: none;
                            margin-bottom: 10px;
                            transition: 0.2s color;

                            &:hover
                            {
                                color: #00a8ff;
                            }
                        }
                    }
                }

                .right-column
                {
                    margin-left: 5%;

                    .name
                    {
                        font-family: 'Exo 2', 'Sans-Serif';
                        font-style: normal;
                        font-weight: bold;
                        color: #000000; 
                        font-size: $default-font-size + 8;
                        margin: 0px 0px 15px 0px;
                    }

                    .stat
                    {
                        width: 340px;
                        justify-content: space-between;
                        p
                        {
                            font-family: 'Exo 2', 'Sans-Serif';
                            font-style: normal;
                            font-weight: bold;
                            color: #000000; 
                            font-size: $default-font-size; 
                            margin: 0px 0px 10px 0px;  
                            
                            &:nth-last-of-type(1)
                            {
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }

        .messages
        {
            width: 95%;

            .message-header
            {
                width: 100%;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                border-bottom: 2px solid #7f7f7f;

                .h2
                {
                    font-family: 'Exo 2', 'Sans-Serif';
                    font-style: normal;
                    font-weight: bold;
                    color: #000000; 
                    font-size: $default-font-size + 8;      
                }

                .change-message
                {
                    align-items: center;
                    justify-content: center;

                    p
                    {
                        width: 95px;
                        height: 30px;
                        background-color: #323232;
                        font-family: 'Exo 2', 'Sans-Serif';
                        font-style: normal;
                        font-weight: bold;
                        color: #ffffff; 
                        font-size: $default-font-size - 2; 
                        justify-content: center;
                        align-items: center;   
                        border: 0px solid #ffffff;
                        border-radius: 10px 0px 0px 10px;
                        transition: 0.2s background-color;
                        
                        &:nth-last-of-type(1)
                        {
                            background-color: #d52530; 
                            border-radius: 0px 10px 10px 0px;   
                        }

                        &:hover
                        {
                            cursor: pointer;
                            background-color: #5CB85C;
                        }
                    }
                }
            }

            .message-all
            {
                width: 99%;
                margin: 0 auto;

                .message
                {
                    margin-bottom: 10px;
                    .name
                    {
                        font-family: 'Exo 2', 'Sans-Serif';
                        font-style: normal;
                        font-weight: bold;
                        color: #000000; 
                        font-size: $default-font-size + 2;   
                        margin-bottom: 10px; 
                    }
                    p
                    {
                        font-family: 'Exo 2', 'Sans-Serif';
                        font-style: normal;
                        font-weight: normal;
                        color: #000000; 
                        font-size: $default-font-size;  
                        padding-left: 10px;
                        margin-right: 50px;
                        border-left: 5px solid #323232;    
                    }
                }
            }
        }
    }
}
