<main class="main-main row">
    <section class="main column">
        <div class="area-header row">
            <div class="icon row">
                <img src="%=static=%/img/general/youtube-icon.png" alt="">
                <p>Youtube каналы</p>
            </div>
            <div class="buttons row">
                <a class="row" href="#">Добавить</a>
                <a class="row" href="#">Другие площадки</a>
            </div>
        </div>
        <div class="areas-table column">
            <div class="table-header row">
                <p>#</p>
                <p>Лого</p>
                <p>Название</p>
                <p>Аудитория</p>
                <p>Цена от</p>
                <p>Рейтинг</p>
            </div>
            <div class="table-elem row">
                <p>#1</p>
                <div class = "image-container">
                    <div class="img-logo" style = "background-image: url(%=static=%/img/general/area-photo.jpg);">
                    </div>
                </div>
                <p>Steven</p>
                <p>114000</p>
                <p>500 руб</p>
                <p>+245</p>
            </div>
            <div class="table-elem row">
                    <p>#1</p>
                    <div class = "image-container">
                        <div class="img-logo" style = "background-image: url(%=static=%/img/general/area-photo.jpg);">
                        </div>
                    </div>
                    <p>Steven</p>
                    <p>114000</p>
                    <p>500 руб</p>
                    <p>+245</p>
            </div>
            <div class="table-elem row">
                    <p>#1</p>
                    <div class = "image-container">
                        <div class="img-logo" style = "background-image: url(%=static=%/img/general/area-photo.jpg);">
                        </div>
                    </div>
                    <p>Steven</p>
                    <p>114000</p>
                    <p>500 руб</p>
                    <p>+245</p>
            </div>
            <div class="table-elem row">
                    <p>#1</p>
                    <div class = "image-container">
                        <div class="img-logo" style = "background-image: url(%=static=%/img/general/area-photo.jpg);">
                        </div>
                    </div>
                    <p>Steven</p>
                    <p>114000</p>
                    <p>500 руб</p>
                    <p>+245</p>
            </div>
            <div class="table-elem row">
                    <p>#1</p>
                    <div class = "image-container">
                        <div class="img-logo" style = "background-image: url(%=static=%/img/general/area-photo.jpg);">
                        </div>
                    </div>
                    <p>Steven</p>
                    <p>114000</p>
                    <p>500 руб</p>
                    <p>+245</p>
            </div>
            <div class="table-elem row">
                    <p>#1</p>
                    <div class = "image-container">
                        <div class="img-logo" style = "background-image: url(%=static=%/img/general/area-photo.jpg);">
                        </div>
                    </div>
                    <p>Steven</p>
                    <p>114000</p>
                    <p>500 руб</p>
                    <p>+245</p>
            </div>
            <div class="table-elem row">
                    <p>#1</p>
                    <div class = "image-container">
                        <div class="img-logo" style = "background-image: url(%=static=%/img/general/area-photo.jpg);">
                        </div>
                    </div>
                    <p>Steven</p>
                    <p>114000</p>
                    <p>500 руб</p>
                    <p>+245</p>
            </div>
            <div class="table-elem row">
                    <p>#1</p>
                    <div class = "image-container">
                        <div class="img-logo" style = "background-image: url(%=static=%/img/general/area-photo.jpg);">
                        </div>
                    </div>
                    <p>Steven</p>
                    <p>114000</p>
                    <p>500 руб</p>
                    <p>+245</p>
            </div>
            <div class="table-elem row">
                    <p>#1</p>
                    <div class = "image-container">
                        <div class="img-logo" style = "background-image: url(%=static=%/img/general/area-photo.jpg);">
                        </div>
                    </div>
                    <p>Steven</p>
                    <p>114000</p>
                    <p>500 руб</p>
                    <p>+245</p>
            </div>
            <div class="table-elem row">
                    <p>#1</p>
                    <div class = "image-container">
                        <div class="img-logo" style = "background-image: url(%=static=%/img/general/area-photo.jpg);">
                        </div>
                    </div>
                    <p>Steven</p>
                    <p>114000</p>
                    <p>500 руб</p>
                    <p>+245</p>
            </div>
        </div>
        <div class="pagination row">
            <p class="prev"><<</p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p class="next">>></p>
        </div>
    </section>

    <aside class="side column">

        <section class="vk-widget row">
            <script type="text/javascript" src="https://vk.com/js/api/openapi.js?154"></script>

            <!-- VK Widget -->
            <div id="vk_groups"></div>
            <script type="text/javascript">
            VK.Widgets.Group("vk_groups", {mode: 3, width: "250", height: "255"}, 122944956);
            </script>
        </section>

        <section class="parthers">

        </section>

        <section class="stats">

        </section>

    </aside>
</main>
